@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page-container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
}

.content-container {
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1200px;
  height: 100%;
}

@font-face {
  font-family: AlegreyaSans;
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Black.woff2") format("woff2"), url("../fonts/AlegreyaSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: AlegreyaSans;
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Light.woff2") format("woff2"), url("../fonts/AlegreyaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: AlegreyaSans;
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Medium.woff2") format("woff2"), url("../fonts/AlegreyaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: AlegreyaSans;
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Bold.woff2") format("woff2"), url("../fonts/AlegreyaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: AlegreyaSans;
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/AlegreyaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AlegreyaSans;
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Thin.woff2") format("woff2"), url("../fonts/AlegreyaSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Philosopher;
  font-display: swap;
  src: url("../fonts/Philosopher-Regular.woff2") format("woff2"), url("../fonts/Philosopher-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Philosopher;
  font-display: swap;
  src: url("../fonts/Philosopher-Bold.woff2") format("woff2"), url("../fonts/Philosopher-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

.element-animation {
  opacity: 0;
  -webkit-transform: translateY(110px);
      -ms-transform: translateY(110px);
          transform: translateY(110px);
}

.element-animation.element-show {
  opacity: 1;
  -webkit-transition: all 2.2s;
  transition: all 2.2s;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.section-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 52.4%;
  padding: 94px 0px 0px 0px;
}

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 185px 0px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-horse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.no-webp .section-directions{
  background: url(../img/section-directions/background-image1.jpg) center/cover no-repeat; }

.section-directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
  padding: 0px 0px 347px 0px;
  position: relative;
}

.section-directions__horse-left {
  background: url(../img/section-directions/img-left.svg) center/cover no-repeat;
  position: absolute;
  bottom: 1%;
  left: 1%;
  width: 305px;
  height: 530px;
}

.section-directions__horse-right {
  background: url(../img/section-directions/img-right.svg) center/cover no-repeat;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 372px;
  height: 532px;
}

.section-directions__clouds {
  background: url(../img/section-directions/img-clouds.svg) center/cover no-repeat;
  position: absolute;
  bottom: -1%;
  left: 0%;
  width: 100%;
  height: 12%;
}

.no-webp .section-form-questions{
  background: #FFF url(../img/section-form-questions/section-form-background.jpg) center/cover no-repeat; }

.section-form-questions {
  width: 100%;
  height: 853px;
  margin: 0px 0px 67px 0px;
}

.section-feedback {
  margin: 0px 0px 150px 0px;
}

.section-feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-clients {
  max-width: 1603px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 67px auto;
}

.section-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.no-webp .section-adress-map{
  background: #FFF url(../img/section-adress-map/image-map1.jpg) center/cover no-repeat; }

.section-adress-map {
  position: relative;
  width: 100%;
  height: 650px;
}

.wrapper-adress-map {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  z-index: 50;
}

.header__container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0px 16px 0px 16px;
}

.logo-header {
  width: 152px;
  height: 49px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.logo-header:hover {
  scale: 1.01;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 0px 0px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 48px 0px 0px;
}

.nav-list__link {
  margin-right: 44px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.nav-list__link:last-child {
  margin-right: 0px;
}

.nav-list__link:hover {
  scale: 0.97;
}

.nav-list__link-item {
  font-size: calc(11px + 2 * (100vw - 320px) / 1600);
  text-transform: uppercase;
  text-decoration: none;
  color: #202020;
}

.nav-list__link-item:hover {
  color: #008139;
  scale: 1.1;
}

.nav-list__link-item:active {
  color: #FF5C00;
}

.link-item::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  border-bottom: 2px solid #008139;
  content: "";
  margin: 0 auto;
}

.contact__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__phone-logo {
  background: url(../icons/svg/phone-logo.svg);
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact__phone-number {
  margin: 0px 0px 7px 0px;
  font-weight: 700;
  font-size: calc(11px + 7 * (100vw - 320px) / 1600);
  line-height: 21px;
  text-decoration: none;
  color: #7E7E7E;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.contact__phone-number:hover {
  scale: 0.98;
  color: #FF5C00;
}

.contact__phone-description {
  font-size: calc(9px + 4 * (100vw - 320px) / 1600);
  line-height: 15px;
  padding: 0px 0px 0px 26px;
  color: #7E7E7E;
}

.menu-mobile {
  padding: 0px 10px 0px 25px;
  border: 1px solid #008139;
  border-radius: 3px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
  -webkit-box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  display: none;
  position: relative;
}

.menu-mobile__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.menu-mobile__underline {
  position: absolute;
  top: 14px;
  left: 7px;
  width: 10px;
  border-bottom: 2px solid #008139;
  color: #008139;
}

.menu-mobile::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 10px;
  border-bottom: 2px solid #008139;
  color: #008139;
}

.menu-mobile::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 7px;
  width: 10px;
  border-bottom: 2px solid #008139;
  color: #008139;
}

.menu-mobile:active {
  scale: 1.02;
}

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;
  background: #000000;
  opacity: 0.97;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.nav-main__border {
  position: absolute;
  right: 0%;
  width: 5px;
  height: 100%;
  background: #008139;
}

.nav-main__list {
  padding: 35% 8% 90% 8%;
}

.nav-main__list-link {
  text-align: center;
}

.nav-main__list-link-item {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
}

.nav-main__list-link-item:hover {
  color: #FDE724;
}

.nav-main__list-link-item:active {
  color: #008139;
}

.link-items::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  border-bottom: 1px solid #008139;
  content: "";
  margin: 0 auto;
}

.close-button {
  width: 45px;
  height: 45px;
  background: transparent;
  position: absolute;
  top: 35px;
  right: 35px;
  border: none;
}

.close-button__line-x {
  background: #FFF;
  position: absolute;
  left: 13px;
  width: 17px;
  height: 2px;
  -webkit-transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
      -ms-transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
          transform: matrix(-0.71, -0.71, 0.71, -0.71, 0, 0);
}

.close-button__line-y {
  background: #FFF;
  position: absolute;
  left: 13px;
  width: 17px;
  height: 2px;
  -webkit-transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
      -ms-transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
          transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
}

.active {
  left: 0;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.no-webp .main__main-block{
  background: #FFF url(../img/background-image/header-background-desktop.jpg) center/cover no-repeat; }

.main__main-block {
  padding-top: 5px;
  height: 948px;
}

.section-footer {
  width: 100%;
  background: #000000;
  position: relative;
}

.footer-up-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0px 38px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-call-back {
  font-size: calc(13px + 2 * (100vw - 320px) / 1600);
  padding: 14px 41px;
  border: 2px solid #FDE724;
  color: #FFF;
  background: #000000;
  border-radius: 8px;
  cursor: pointer;
}

.btn-call-back:hover {
  border: 2px solid #008139;
}

.btn-call-back:active {
  background: #202020;
  scale: 0.95;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

.footer-container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0px 16px 0px 16px;
}

.logo-foooter {
  width: 152px;
  height: 49px;
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 0px 0px;
}

.nav-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 48px 0px 0px;
}

.nav-list-footer__link-footer {
  margin-right: 44px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.nav-list-footer__link-footer:last-child {
  margin: 0px;
}

.nav-list-footer__link-footer:hover {
  scale: 1.05;
}

.nav-list-footer__link-item-footer {
  font-size: 13px;
  text-decoration: none;
  color: #FFF;
}

.nav-list-footer__link-item-footer:hover {
  color: #008139;
}

.nav-list-footer__link-item-footer:active {
  color: #FF5C00;
}

.footer-down-block {
  padding: 0px 0px 25px 0px;
}

.footer-down-block__agreement {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #7D808A;
  margin-right: 40px;
}

.footer-down-block__agreement:hover {
  color: #FFF;
}

.footer-down-block__politics {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #7D808A;
}

.footer-down-block__politics:hover {
  color: #FFF;
}

.title__text {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24px + 33 * (100vw - 320px) / 1600);
  line-height: 107%;
  color: #000000;
  margin: 0px 0px 44px 0px;
}

.title__text-description {
  max-width: 510px;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: calc(13px + 11 * (100vw - 320px) / 1600);
  line-height: 140%;
  color: #646464;
  margin: 0px auto 42px auto;
  position: relative;
}

.title__text-description::before {
  width: 26px;
  border-bottom: 1px solid #8F8F8F;
  position: absolute;
  content: "";
  top: 16px;
  left: -40px;
}

.title__text-decoration {
  font-weight: 800;
}

.title-about {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Philosopher";
  font-weight: 400;
  font-size: calc(21px + 19 * (100vw - 320px) / 1600);
  line-height: 36px;
  color: #363434;
  margin: 0px 0px 150px 0px;
}

.button-primary {
  width: 270px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF383), to(#FFC700));
  background: linear-gradient(180deg, #FFF383 0%, #FFC700 100%);
  border-radius: 5px;
  border: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 5 * (100vw - 320px) / 1600);
  line-height: 32px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #6A5300;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.button-primary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE456), to(#FFB800));
  background: linear-gradient(180deg, #FFE456 0%, #FFB800 100%);
  cursor: pointer;
  scale: 1.03;
}

.button-primary:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB800), to(#FFE456));
  background: linear-gradient(180deg, #FFB800 0%, #FFE456 100%);
}

.button-form {
  width: 340px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF383), to(#FFC700));
  background: linear-gradient(180deg, #FFF383 0%, #FFC700 100%);
  border-radius: 5px;
  border: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 5 * (100vw - 320px) / 1600);
  line-height: 32px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #6A5300;
}

.button-form:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE456), to(#FFB800));
  background: linear-gradient(180deg, #FFE456 0%, #FFB800 100%);
  cursor: pointer;
}

.button-form:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB800), to(#FFE456));
  background: linear-gradient(180deg, #FFB800 0%, #FFE456 100%);
}

.card-about-picture-block {
  width: 60%;
  height: 100%;
  background: url(../img/section-about/jumping-horse.svg) center/contain no-repeat;
  position: absolute;
  top: 4%;
  right: 49%;
}

.card-about-text-block {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 0px 41px 0px;
}

.card-about-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.card-about-description__title {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: calc(27px + 15 * (100vw - 320px) / 1600);
  line-height: 160%;
  color: #008139;
}

.card-about-description__subtitle {
  font-family: "Roboto";
  font-weight: 800;
  font-size: calc(12px + 5 * (100vw - 320px) / 1600);
  line-height: 25px;
  color: #000000;
}

.card-about-description:last-child {
  margin: 0px;
}

.card-about-paragraph {
  width: 49%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: calc(12px + 5 * (100vw - 320px) / 1600);
  line-height: 28px;
  text-align: center;
}

.features-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22%;
  min-height: 237px;
}

.features-card__image {
  width: 50%;
  height: 45%;
  margin: 0 auto;
}

.features-card__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: calc(14px + 5 * (100vw - 320px) / 1600);
  line-height: 51px;
  text-align: center;
  color: #000000;
}

.features-card__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: calc(13px + 2 * (100vw - 320px) / 1600);
  line-height: 23px;
  text-align: center;
}

.card-clients {
  border: 3px solid #ffffff;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.directions-card {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  border: 1px solid #EAEAEA;
  -webkit-box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  margin-bottom: 50px;
}

.directions-card__image {
  width: 86.5%;
  border-radius: 5px;
  margin: -25px 0px 45px 0px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.directions-card__image:hover {
  scale: 1.1;
}

.directions-card__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: calc(14px + 9 * (100vw - 320px) / 1600);
  line-height: 27px;
  text-align: center;
  color: #363434;
  padding: 0px 67px 0px 67px;
  margin: 0px 0px 21px 0px;
}

.directions-card__title::after {
  display: block;
  content: "";
  width: 26px;
  border-bottom: 2px solid #008139;
  margin: 0 auto;
  padding: 25px 0px 0px 0px;
}

.directions-card__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: calc(13px + 3 * (100vw - 320px) / 1600);
  line-height: 21px;
  text-align: center;
  color: #7E7E7E;
  padding: 0px 45px 45px 45px;
}

.card-horse {
  width: 340px;
  min-height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  border: 1px solid #EAEAEA;
  -webkit-box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.08);
  margin: 5px 6px;
}

.card-horse__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 270px;
  max-height: 421px;
  border-radius: 5px;
  margin: 0 auto 15px auto;
  padding: 15px 0px 0px 0px;
}

.card-horse__title {
  width: 236px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: calc(15px + 8 * (100vw - 320px) / 1600);
  line-height: 27px;
  text-align: center;
  color: #363434;
  margin: 0px auto 25px auto;
  padding: 0px 10px 0px 10px;
}

.card-horse__title::after {
  content: "";
  display: block;
  width: 26px;
  border-bottom: 2px solid #008139;
  margin: 0 auto;
  padding: 25px 0px 0px 0px;
}

.card-horse__text {
  width: 280px;
  min-height: 42px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: calc(13px + 2 * (100vw - 320px) / 1600);
  line-height: 21px;
  text-align: center;
  color: #7E7E7E;
  padding: 0px 10px 45px 10px;
}

.form-wrapper {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 470px;
  height: 547px;
  background: #FFF;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  -webkit-box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  position: relative;
}

.form-questions__title {
  padding: 12% 13% 0% 13%;
  font-family: "Philosopher";
  font-weight: 400;
  font-size: calc(17px + 13 * (100vw - 320px) / 1600);
  line-height: 35px;
  text-align: center;
  color: #363434;
  margin: 0px 0px 15px 0px;
}

.form-questions__subtitle {
  font-size: calc(13px + 2 * (100vw - 320px) / 1600);
  text-align: center;
  color: #363434;
  padding: 0px 50px 0px 50px;
  margin: 0px 0px 30px 0px;
}

.form-questions__subtitle-option {
  font-weight: 800;
}

.form-questions__name {
  width: 90%;
  padding: 20px 143px 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFF;
  border: 3px solid #7E7E7E;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  margin: 0px 0px 25px 0px;
}

.form-questions__name:focus:valid {
  color: #363434;
  border-bottom: 3px solid #66D763;
}

.form-questions__name:focus:invalid {
  border-bottom: 3px solid #FF5C00;
}

.form-questions__name:-moz-placeholder-shown + .label-text {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}

.form-questions__name:-ms-input-placeholder + .label-text {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(30px);
      transform: translateY(30px);
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

.form-questions__name:placeholder-shown + .label-text {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.form-questions__phone {
  width: 90%;
  padding: 20px 143px 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFF;
  border: 3px solid #7E7E7E;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  margin: 0px 0px 21px 0px;
}

.form-questions__phone:focus:valid {
  color: #363434;
  border-bottom: 3px solid #66D763;
}

.form-questions__phone:focus:invalid {
  border-bottom: 3px solid #FF5C00;
}

.form-questions__phone:-moz-placeholder-shown + .label-number {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}

.form-questions__phone:-ms-input-placeholder + .label-number {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(30px);
      transform: translateY(30px);
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

.form-questions__phone:placeholder-shown + .label-number {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.label-text {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 10px;
  color: #FF5C00;
  position: absolute;
  content: "";
  top: 188px;
  left: 70px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.label-number {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 10px;
  color: #FF5C00;
  position: absolute;
  content: "";
  top: 274px;
  left: 70px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.button-form {
  width: 90%;
  margin: 0px 0px 31px 0px;
}

.checkbox-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 27px 0px;
  position: relative;
}

.checkbox-block__text {
  color: #7E7E7E;
}

.checkbox-block__text-option {
  color: #7E7E7E;
  font-weight: 600;
}

.checkbox-default {
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 2px solid #FF5C00;
  border-radius: 2px;
  content: "";
  position: absolute;
  top: 1px;
  left: -27px;
}

.checkbox-custom::before {
  content: "";
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  background: url(../icons/svg/arrow-checkbox.svg) no-repeat;
  width: 14px;
  height: 12px;
  opacity: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.checkbox-custom::after {
  width: 107px;
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
  content: "Подтвердите согласие";
  font-size: 10px;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF5C00;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.checkbox-default:checked + .checkbox-custom::before {
  opacity: 1;
}

.checkbox-default:checked + .checkbox-custom {
  border: 2px solid #FFC700;
}

.checkbox-default:checked + .checkbox-custom::after {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.form-decor-image {
  background: url(../img/section-form-questions/bush.svg) no-repeat;
  width: 297px;
  height: 371px;
  position: absolute;
  bottom: -157px;
  right: -161px;
}

.card-feedback {
  max-width: 570px;
  height: 291px;
  border: 1px solid #EAEAEA;
  -webkit-box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  margin: 6px;
}

.card-feedback__wrapper {
  padding: 40px 45px 35px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-feedback__text {
  max-width: 480px;
  font-size: calc(13px + 2 * (100vw - 320px) / 1600);
  line-height: 24px;
  color: #363434;
  margin: 0px 0px 15px 0px;
}

.card-feedback__button-more {
  max-width: 135px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(13px + 2 * (100vw - 320px) / 1600);
  line-height: 21px;
  text-align: center;
  color: #008139;
  margin: 0px auto 48px auto;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

.card-feedback__button-more:hover {
  scale: 1.02;
  color: #ff0000;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author__info-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0px 20px 0px 0px;
}

.author__info-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.author__info-name {
  margin: 0px 0px 10px 0px;
}

.author__info-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.author__info-socials:last-child {
  margin-right: 0px;
}

.author__info-socials-image {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.author__info-socials-image:hover {
  scale: 1.1;
}

.author__decoration {
  width: 45px;
  height: 37px;
  background: url(../icons/svg/comma-icon-feedback.svg) no-repeat;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.author__decoration:hover {
  scale: 1.1;
}

.contact-wrapper {
  width: 521px;
}

.card-contact {
  max-width: 521px;
  height: 460px;
  background: #FFF;
  border: 1px solid #EAEAEA;
  -webkit-box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
}

.wrapper-contacts {
  padding: 50px 149px 5px 111px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper-contacts__title {
  width: 174px;
  font-family: "Philosopher";
  font-weight: 400;
  font-size: calc(24px + 3 * (100vw - 320px) / 1600);
  line-height: 36px;
  color: #000000;
}

.wrapper-contacts__title::after {
  content: "";
  display: block;
  width: 26px;
  border-bottom: 2px solid #008139;
  padding: 30px 0px 0px 0px;
  margin: 0px 0px 42px 0px;
}

.wrapper-contacts__adress {
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-size: calc(13px + 5 * (100vw - 320px) / 1600);
  line-height: 30px;
  color: #363434;
  padding: 0px 0px 0px 22px;
  position: relative;
}

.wrapper-contacts__adress::before {
  content: "";
  background: url(../icons/svg/contacts/geo-icon.svg) no-repeat;
  width: 14px;
  height: 22px;
  position: absolute;
  top: 2px;
  left: 0px;
}

.wrapper-contacts__phone {
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-size: calc(13px + 5 * (100vw - 320px) / 1600);
  line-height: 30px;
  color: #363434;
  padding: 0px 0px 0px 22px;
  position: relative;
}

.wrapper-contacts__phone::before {
  content: "";
  background: url(../icons/svg/contacts/phone-icon.svg) no-repeat;
  width: 14px;
  height: 22px;
  position: absolute;
  top: 2px;
  left: 0px;
}

.wrapper-contacts__fax {
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-size: calc(13px + 5 * (100vw - 320px) / 1600);
  line-height: 30px;
  color: #363434;
  padding: 0px 0px 0px 22px;
  position: relative;
}

.wrapper-contacts__fax::before {
  content: "";
  background: url(../icons/svg/contacts/mail-icon.svg) no-repeat;
  width: 14px;
  height: 22px;
  position: absolute;
  top: 2px;
  left: 0px;
}

.wrapper-contacts__hours-work {
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-size: calc(13px + 5 * (100vw - 320px) / 1600);
  line-height: 30px;
  color: #363434;
  padding: 0px 0px 0px 22px;
  position: relative;
}

.wrapper-contacts__hours-work::before {
  content: "";
  background: url(../icons/svg/contacts/watch-icon.svg) no-repeat;
  width: 14px;
  height: 22px;
  position: absolute;
  top: 2px;
  left: 0px;
}

.wrapper-socials {
  max-width: 191px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 50%;
}

.wrapper-socials__instagram {
  width: 32px;
  height: 32px;
  background: url(../icons/svg/socials-instagram-default.svg) no-repeat;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.wrapper-socials__instagram:hover {
  background: url(../icons/svg/socials-instagram-hover.svg) no-repeat;
}

.wrapper-socials__instagram:active {
  scale: 1.07;
}

.wrapper-socials__youtube {
  width: 32px;
  height: 32px;
  background: url(../icons/svg/socials-youtube-default.svg) no-repeat;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.wrapper-socials__youtube:hover {
  background: url(../icons/svg/socials-youtube-hover.svg) no-repeat;
}

.wrapper-socials__youtube:active {
  scale: 1.07;
}

.wrapper-socials__whatsapp {
  width: 32px;
  height: 32px;
  background: url(../icons/svg/socials-whatsapp-default.svg) no-repeat;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.wrapper-socials__whatsapp:hover {
  background: url(../icons/svg/socials-whatsapp-hover.svg) no-repeat;
}

.wrapper-socials__whatsapp:active {
  scale: 1.07;
}

.wrapper-socials__vk {
  width: 32px;
  height: 32px;
  background: url(../icons/svg/socials-vk-default.svg) no-repeat;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.wrapper-socials__vk:hover {
  background: url(../icons/svg/socials-vk-hover.svg) no-repeat;
}

.wrapper-socials__vk:active {
  scale: 1.07;
}

.mg-0-auto {
  margin: 0 auto;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #7E7E7E;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  background-color: #ffffff;
  height: 100%;
}

@media (max-width: 1199px) {
  .content-container {
    max-width: 990px;
  }

  .section-description {
    padding: 94px 0px 0px 47px;
  }

  .section-about {
    margin: 0px 0px 120px 0px;
  }

  .section-directions {
    margin-bottom: 107px;
  }

  .section-directions__horse-left {
    width: 202px;
    height: 350px;
    bottom: 0%;
  }

  .section-directions__horse-right {
    width: 239px;
    height: 342px;
  }

  .no-webp .section-form-questions{
    background: #FFF url(../img/section-form-questions/section-form-tab-land.jpg) center/cover no-repeat; }

  .section-form-questions {
    margin: 0px 0px 120px 0px;
    min-height: 800px;
  }

  .section-feedback {
    margin-bottom: 120px;
  }

  .section-features {
    margin: 0px 0px 120px 0px;
  }

  .nav-list {
    margin: 0px 15px 0px 0px;
  }

  .no-webp .main__main-block{
    background: #FFF url(../img/background-image/header-background-tab-land.jpg) center/cover no-repeat; }

  .main__main-block {
    height: 693px;
  }

  .title-about {
    margin: 0px 0px 55px 0px;
  }

  .card-about-picture-block {
    width: 53%;
    height: 98%;
    top: -20%;
    right: 49%;
  }

  .card-about-text-block {
    margin: 0px 0px 50px 0px;
  }

  .card-about-paragraph {
    width: 100%;
  }

  .form-questions {
    max-width: 450px;
  }

  .card-contact {
    max-width: 500px;
    height: 445px;
  }

  .wrapper-contacts {
    padding: 50px 128px 5px 70px;
  }
}

@media (max-width: 991px) {
  .content-container {
    max-width: 762px;
  }

  .section-about {
    margin: 0px 0px 79px 0px;
  }

  .section-directions {
    margin-bottom: 30px;
  }

  .section-directions__horse-left {
    width: 157px;
    height: 272px;
    bottom: 0%;
  }

  .section-directions__horse-right {
    width: 189px;
    height: 270px;
  }

  .no-webp .section-form-questions{
    background: #FFF url(../img/section-form-questions/section-form-tab-port.jpg) bottom/cover no-repeat; }

  .section-form-questions {
    margin: 0px 0px 60px 0px;
    min-height: 1390px;
  }

  .section-feedback {
    margin-bottom: 90px;
  }

  .section-features {
    margin: 0px 0px 70px 0px;
  }

  .no-webp .section-adress-map{
    background: #FFF url(../img/section-adress-map/image-map-tab-port.jpg) center/cover no-repeat; }

  .no-webp .main__main-block{
    background: #FFF url(../img/background-image/header-background-tab-port.jpg) center/cover no-repeat; }

  .main__main-block {
    height: 539px;
  }

  .nav-list-footer {
    margin-right: 15px;
  }

  .nav-list-footer__link-footer {
    margin-right: 25px;
  }

  .title-about {
    margin: 0px 0px 44px 0px;
  }

  .card-about-picture-block {
    width: 58%;
    height: 93%;
    top: -20%;
    right: 49%;
  }

  .card-about-text-block {
    margin: 0px 0px 59px 0px;
  }

  .card-wrapper {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }

  .directions-card {
    width: 48%;
  }

  .form-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-questions {
    max-width: 450px;
  }

  .form-decor-image {
    display: none;
  }

  .card-contact {
    max-width: 354px;
    height: 438px;
  }

  .wrapper-contacts {
    padding: 40px 102px 5px 40px;
  }

  .wrapper-socials {
    padding-left: 34%;
  }
}

@media (max-width: 767px) {
  .content-container {
    width: 100%;
  }

  .section-description {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 69.4%;
    padding: 94px 0px 0px 0px;
  }

  .section-about {
    margin: 0px 0px 70px 0px;
  }

  .section-directions {
    margin-bottom: 14px;
  }

  .section-directions__horse-left {
    width: 113px;
    height: 196px;
    bottom: 0%;
  }

  .section-directions__horse-right {
    width: 139px;
    height: 199px;
  }

  .section-directions__clouds {
    width: 846px;
    height: 108px;
  }

  .no-webp .section-form-questions{
    background: #FFF url(../img/section-form-questions/section-form-mob-land.jpg) bottom/cover no-repeat; }

  .section-form-questions {
    margin: 0px 0px 60px 0px;
    min-height: 1463px;
  }

  .section-feedback {
    margin-bottom: 80px;
  }

  .section-features {
    margin: 0px 0px 80px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .no-webp .section-adress-map{
    background: #FFF url(../img/section-adress-map/image-map-mob-land.jpg) center/cover no-repeat; }

  .section-adress-map {
    margin-bottom: 215px;
  }

  .wrapper-adress-map {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav-list {
    display: none;
  }

  .contact {
    margin-right: 25px;
  }

  .menu-mobile {
    display: block;
  }

  .nav-main__list {
    padding: 0%;
  }

  .no-webp .main__main-block{
    background: #FFF url(../img/background-image/header-background-mobile-land.jpg) bottom/cover no-repeat; }

  .main__main-block {
    height: 564px;
  }

  .footer-up-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-up-block {
    padding: 45px 0px 28px 0px;
  }

  .nav-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-list-footer {
    margin: 0px 0px 28px 0px;
  }

  .nav-list-footer__link-footer {
    margin-right: 44px;
  }

  .footer-down-block {
    padding: 0px 0px 45px 0px;
  }

  .footer-down-block__agreement {
    margin: 0px 0px 13px 0px;
  }

  .footer-down-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title__text-description::before {
    top: -44%;
    left: 44%;
  }

  .title {
    text-align: center;
  }

  .title-about {
    margin: 0px 0px 30px 0px;
  }

  .title-about {
    margin: 0px 0px 35px 0px;
  }

  .card-about-picture-block {
    display: none;
  }

  .card-about-text-block {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }

  .card-about-description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card-about-description {
    text-align: center;
    width: 48%;
  }

  .features-card {
    width: 45%;
    margin-bottom: 40px;
  }

  .card-wrapper {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }

  .directions-card {
    width: 48%;
  }

  .form-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-questions {
    max-width: 400px;
  }

  .form-decor-image {
    display: none;
  }

  .card-feedback {
    height: 336px;
  }

  .card-feedback__wrapper {
    padding: 40px 15px 35px 15px;
  }

  .card-contact {
    width: 354px;
    height: 435px;
    margin-bottom: -558px;
  }

  .wrapper-contacts {
    padding: 40px 40px 5px 40px;
  }

  .wrapper-socials {
    padding-left: 30%;
  }
}

@media (max-width: 575px) {
  .content-container {
    width: 100%;
  }

  .section-description {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 94px 0px 0px 0px;
  }

  .section-about {
    margin: 0px 0px 70px 0px;
  }

  .section-directions {
    margin-bottom: 12px;
  }

  .section-directions__horse-left {
    width: 86px;
    height: 149px;
    bottom: 0.9%;
  }

  .section-directions__horse-right {
    width: 98px;
    height: 141px;
    bottom: 1%;
  }

  .section-directions__clouds {
    width: 846px;
    height: 105px;
    bottom: 0%;
  }

  .no-webp .section-form-questions{
    background: #FFF url(../img/section-form-questions/section-form-mob-port.jpg) bottom/cover no-repeat; }

  .section-form-questions {
    margin: 0px 0px 40px 0px;
    min-height: 1242px;
  }

  .section-feedback {
    margin-bottom: 70px;
  }

  .section-clients {
    margin: 0 6px;
    overflow: hidden;
  }

  .section-features {
    margin: 0px 0px 50px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .no-webp .section-adress-map{
    background: #FFF url(../img/section-adress-map/image-map-mob-port.jpg) center/cover no-repeat; }

  .section-adress-map {
    margin-bottom: 215px;
  }

  .wrapper-adress-map {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav-list {
    display: none;
  }

  .contact {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .nav-main__list {
    padding: 0%;
  }

  .nav-main {
    width: 100%;
  }

  .no-webp .main__main-block{
    background: #FFF url(../img/background-image/header-background-mobile-port.jpg) bottom/cover no-repeat; }

  .main__main-block {
    height: 740px;
  }

  .footer-up-block {
    padding: 45px 0px 28px 0px;
  }

  .nav-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-list-footer {
    margin: 0px 0px 28px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav-list-footer__link-footer {
    margin-right: 0px;
  }

  .footer-down-block {
    padding: 0px 0px 45px 0px;
  }

  .footer-down-block__agreement {
    margin: 0px 0px 13px 0px;
  }

  .footer-down-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title__text-description::before {
    top: -44%;
    left: 44%;
  }

  .title {
    text-align: center;
  }

  .card-about-picture-block {
    display: none;
  }

  .card-about-text-block {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }

  .card-about-description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
  }

  .features-card {
    width: 85%;
    margin-bottom: 45px;
  }

  .card-wrapper {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }

  .directions-card {
    width: 100%;
  }

  .directions-card__text {
    padding: 0px 60px 45px 60px;
  }

  .form-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-questions {
    max-width: 300px;
  }

  .checkbox-block {
    width: 90%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .checkbox-block__text {
    font-size: 13.4px;
  }

  .checkbox-custom {
    left: 0px;
  }

  .form-decor-image {
    display: none;
  }

  .card-feedback {
    height: 379px;
  }

  .card-feedback__wrapper {
    padding: 40px 15px 35px 15px;
  }

  .card-contact {
    max-width: 300px;
    height: 428px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: -558px;
  }

  .wrapper-contacts {
    padding: 0px;
  }

  .wrapper-contacts__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrapper-socials {
    padding-left: 0%;
  }
}

.webp .section-directions{ background: url(../img/section-directions/background-image1.webp) center/cover no-repeat; }

.webp .section-form-questions{ background: #FFF url(../img/section-form-questions/section-form-background.webp) center/cover no-repeat; }

.webp .section-adress-map{ background: #FFF url(../img/section-adress-map/image-map1.webp) center/cover no-repeat; }

.webp .main__main-block{ background: #FFF url(../img/background-image/header-background-desktop.webp) center/cover no-repeat; }

@media (max-width: 1199px){

  .webp .section-form-questions{ background: #FFF url(../img/section-form-questions/section-form-tab-land.webp) center/cover no-repeat; }
}

@media (max-width: 1199px){

  .webp .main__main-block{ background: #FFF url(../img/background-image/header-background-tab-land.webp) center/cover no-repeat; }
}

@media (max-width: 991px){

  .webp .section-form-questions{ background: #FFF url(../img/section-form-questions/section-form-tab-port.webp) bottom/cover no-repeat; }
}

@media (max-width: 991px){

  .webp .section-adress-map{ background: #FFF url(../img/section-adress-map/image-map-tab-port.webp) center/cover no-repeat; }
}

@media (max-width: 991px){

  .webp .main__main-block{ background: #FFF url(../img/background-image/header-background-tab-port.webp) center/cover no-repeat; }
}

@media (max-width: 767px){

  .webp .section-form-questions{ background: #FFF url(../img/section-form-questions/section-form-mob-land.webp) bottom/cover no-repeat; }
}

@media (max-width: 767px){

  .webp .section-adress-map{ background: #FFF url(../img/section-adress-map/image-map-mob-land.webp) center/cover no-repeat; }
}

@media (max-width: 767px){

  .webp .main__main-block{ background: #FFF url(../img/background-image/header-background-mobile-land.webp) bottom/cover no-repeat; }
}

@media (max-width: 575px){

  .webp .section-form-questions{ background: #FFF url(../img/section-form-questions/section-form-mob-port.webp) bottom/cover no-repeat; }
}

@media (max-width: 575px){

  .webp .section-adress-map{ background: #FFF url(../img/section-adress-map/image-map-mob-port.webp) center/cover no-repeat; }
}

@media (max-width: 575px){

  .webp .main__main-block{ background: #FFF url(../img/background-image/header-background-mobile-port.webp) bottom/cover no-repeat; }
}